// Background
$background-color-primary: rgb(74, 74, 74);
$background-color-secondary: rgb(25, 25, 25);

// Fonts
$font-color-primary: white;
$font-color-red: red;
$font-color-blue: rgb(64, 127, 214);
$font-color-blue--transparent: rgba(64, 126, 214, 0.75);
